@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #091824;
  --primary: #33cc66;
  --secondary: #003366;
  --accent: #091824;
  --gradient: linear-gradient(to top right, #003366, #33cc66);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-glacial);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #091824;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-glacial), sans-serif;
}
